.App {
  text-align: center;
}

.App-header {
  background-image: url('https://cdn.hipwallpaper.com/i/49/67/4KFwXQ.jpg');
  background-size: cover;
  background-color: #4f5258;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  width: 80%;
  margin: 30px auto;
}

#header-description {
  width: 60%;
  margin: 0 auto;
  font-size: initial;
}

#my-description {
  font-size: calc(5px + 2vmin);
  text-align: start;
  width: 90%;
  margin: 7% auto
}


.footer {
  background-size: cover;
  background-color: #4f5258;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.avatar {
  width: 50%;
  height: 50%;
}

img {
  margin: 0 10%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}